@media only screen and (min-width: 990px) {
    #myCarousel {
        min-height: 600px;
        margin: 0 auto;
    }
    
    #own1{
        text-align: left;
        font-size: 18pt;
    }
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar div{
    margin-bottom: 0;
    border-radius: 0;
    background-color: orange;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%;
    max-height: 660px;
    /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    #dinner1 {
        height: 120vh !important;
    }

    #dinner2 {
        height: 110vh !important;
        text-align: left;
    }
    
    #own1{
        font-size: 2.5vw;
    }
    
}

@media only screen and (max-width: 768px) {
    #dinner1 {
        height: 180vh !important;
    }

    #dinner2 {
        height: 160vh !important;
        text-align: left;
    }
    
    #own1{
        font-size: 4vw;
    }
}

#own1 {
    text-align: left;
}

#dinner1 {
    height: 110vh;
}

#dinner2 {
    height: 93vh;
    text-align: left;
}

.recipe-btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0.2em 0.1em 1em 0;
    border: 0.16em solid green;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    color: floralwhite;
    /*    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);*/
    text-align: center;
    transition: all 0.2s;
    background-color: green;

}

#allRecipes-btn{
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: orange;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#allRecipes-btn:hover,
#allRecipes-btn:focus {
    background: #0053ba;
}

#allRecipes-btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#allRecipes-btn:active {
    transform: scale(0.99);
}

.recipe-btn:hover {

    cursor: pointer;
    text-decoration: none;
    color: #0C5;
    border-color: #0C5;
    background: #FFF;

}

ul{
    padding: 0;
    list-style-type: none;
}

#myCarousel{
    margin-top: -20px;
}

#stepsDiv{
    margin-top: 20px;
    float: right;
}

#stepLine{
    border-color: 1px solid orange;
}
   #allRecipes-btn {
            margin-top: 3vh;
            margin-bottom: 3vh;
             font-family: 'Gudea', sans-serif;
        }


        #space {
            width: 100%;
            height: 2vh;

        }

        #loading {

            height: 5vh;
            transform: translateY(20vh);
            animation: rotation 2s infinite linear;
        }

        @-webkit-keyframes rotation {
            from {
                transform: rotate(0deg);

            }

            to {
                transform: rotate(360deg);

            }
        }

        #top1 {
            color: white;
            text-align: center;
            font-family: 'Gudea', sans-serif;
            font-size: 40px;
            line-height: 70px;
            transform: translateY(-5vh);

        }

        .font1 {
            font-family: 'Gudea', sans-serif;

        }

        #f1:hover {
            background-position: 100% -0.1em;
            transition: background 1s;
        }





        @import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }



        .container {

            z-index: 1;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: left;
            justify-content: center;
            min-height: 10vh;
            min-height: 35rem;
            background-blend-mode: soft-light;
            background-size: cover;
            background-position: center center;
/*            padding: 2rem;*/

        }

        .bird {
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
            background-size: auto 100%;
            width: 45vh;
            height: 505px;
            will-change: transformactive;
            animation-name: fly-cycle;
            animation-duration: 1.5s;
            animation-delay: -0.5s;
            animation-timing-function: steps(10);
            animation-iteration-count: infinite;

        }

        .bird-container {
            position: absolute;
            will-change: transform;
            transform: scale(0.3);
        }

        @keyframes fly-cycle {

            100% {
                background-position: -3600px 0;
            }

        }

        #content-title {
            text-align: center;
            font-family: 'Gudea', sans-serif;
        }
        #own1{
                        font-family: 'Gudea', sans-serif;

        }
